<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @send.message %>
</p>

<%= link_to 'Edit', edit_user_send_path(current_user, @send) %> |
<%= link_to 'Back', user_sends_path %>
